.ListItem {
    width: 100%;
    border-bottom: solid 1px darkgrey;
    display: flex;
    flex-direction: row;
}

.ListItem__circle {
    border: solid 1px darkgrey;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.ListItem__circle:hover {
    border: solid 1px black;
}

.ListItem__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}

.ListItem__heading {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 5px 5px;
    justify-content: space-between;
}

.ListItem__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 20px 5px;
}

.ListItem__icon {
    padding-top: 25px;
    font-size: 2em;
    text-align: center;
    color: darkgray;
}

.ListItem__icon:hover {
    color: black;
}

.ListItem__size {
    font-size: 1.25em;
}

.ListItem__title {
    width: 50%;
    font-size: 1.25em;
}

.ListItem__status {
    width: 50%;
    color: blue;
    font-size: .9em;
}

